.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-vetor {
  display: flex;
  align-items: center;
  justify-content: center;
}

.botaoAdicionar {
  margin-left: 0.5rem;
  font-weight: bold;
  border-radius: 50%;
  border: solid 1px black;
  width: 2.2rem;
  height: 2.2rem;
  text-align: center;
  font-size: 15px;
  text-justify: initial;
}

.container-botao {
  display: flex;
}

.botaoFormulario {
  width: 12rem;
  height: 3rem;
  border: none;
  border: solid 1px var(--color-grey);
  border-bottom: solid 3px var(--color-grey);
  border-radius: 4px;
  margin-top: 1.5rem;
  font-size: 18px;
}

.botao-cancelar {
  width: 40px;
  margin-left: 0.25rem;
  border: solid 1px #e6314f;
  border-bottom: solid 3px #e6314f;
}

.flex-central {
  display: flex;
  align-items: center;
  justify-content: center;
}

.separador {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.25rem 0;
}

.texto {
  margin-bottom: 0.25rem;
  color: var(--color-grey);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 0px;
  text-align: center;
  border-left: solid 2px rgb(0, 0, 0);
  border-top: solid 2px rgb(0, 0, 0);
  border-bottom: solid 2px rgb(0, 0, 0);
  border-right: 0;
  outline: 0;
  font-size: 22px;
  background-color: #4472c4;
  -moz-appearance: textfield;

  margin-bottom: 0.15rem;
}

@media (max-width: 600px) {
  .container-input {
    max-width: 230px;
  }

  input[type="number"] {
    &:last-child {
      border-right: 2px solid black;
    }

    &:nth-child(5n) {
      border-right: 2px solid black;
    }
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .container-input {
    max-width: 380px;
  }

  input[type="number"] {
    &:last-child {
      border-right: 2px solid black;
    }

    &:nth-child(8n) {
      border-right: 2px solid black;
    }
  }
}

@media (min-width: 1025px) {
  .container-input {
    max-width: 600px;
  }

  input[type="number"] {
    &:last-child {
      border-right: 2px solid black;
    }

    &:nth-child(13n) {
      border-right: 2px solid black;
    }
  }
}
