<div class="container">
  <div id="divInputQuantidadeSubsequencia" class="separador">
    <label class="texto" for="quantidadeSubsequencia"
      >Insira a quantidade da subsequência</label
    >
    <input
      type="number"
      name="quantidadeSubsequencia"
      id="quantidadeSubsequencia"
      value="4"
    />
  </div>
  <div class="separador">
    <label class="texto" for="casasDecimais"
      >Insira a quantidade de casas decimais</label
    >
    <input
      type="number"
      name="casasDecimais"
      id="casasDecimais"
      value="1"
      min="1"
      max="3"
    />
  </div>
  <div class="separador">
    <span class="texto">Insira os valores da vetor para serem calculados</span>
    <div class="container-vetor">
      <div class="container-input">
        <input class="input-vetor" type="number" value="0" />
        <input class="input-vetor" type="number" value="1" />
        <input class="input-vetor" type="number" value="3" />
        <input class="input-vetor" type="number" value="2" />
        <input class="input-vetor" type="number" value="9" />
        <input class="input-vetor" type="number" value="1" />
        <input class="input-vetor" type="number" value="14" />
        <input class="input-vetor" type="number" value="15" />
        <input class="input-vetor" type="number" value="1" />
        <input class="input-vetor" type="number" value="2" />
        <input class="input-vetor" type="number" value="2" />
        <input class="input-vetor" type="number" value="10" />
        <input class="input-vetor" type="number" value="7" />
      </div>

      <button class="botaoAdicionar" (click)="adicionar()">➕</button>
    </div>
  </div>

  <div class="container-botao">
    <button (click)="emitirDados()" class="botaoFormulario">📊 Calcular</button>
    <button (click)="limpar()" class="botaoFormulario botao-cancelar">
      🔃
    </button>
  </div>
</div>
